
#breadCrumb{
	float:left;
	color:white;
	font-weight:bolder;
	 padding-left: 10px;
	   margin: 0;
	   padding-top: 1px;
}
#appLabel{
	padding-left:5px;
}
.breadCrumbEnlace{
	color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
	}
	
#logo {
    float: left;
    padding-left: 13px;
    padding-top: 8px;
}

#logoSitar {
    float: right;
 padding-right: 15px;
    padding-top: 4px;

	height: 40px;
}

#header_text{

    padding-top: 5px;
}


#header {
    text-align: center;
     height: 52px;
}

.toolbarImage {
	padding-top: 1px;
    float: right;
    padding-right: 7px;
    table-layout: fixed;
}

#toolbar {
    background: none repeat scroll 0 0 #0079b1;
    color: #FFFFFF;
    height: 24px;
    width: 100%;
}

#texto{
margin-top:20px;
    background-color: #FFFFFF;
    border: 1px solid #0079B1;
    font-size: 12pt;
 margin-left: 2px;
    padding: 4px;
    width: 580px;
}

#texto::-moz-placeholder {
    color: #0079B1;
    opacity: 1 !important;
}

.ui-button.ui-state-active  .ui-icon.search-icon {
	background-image: url(../images/lupaBuscarRO.png) !important;
}
.ui-button.ui-state-hover  .ui-icon.search-icon {
	background-image: url(../images/lupaBuscarHO.png);
}

.ui-button .ui-icon.search-icon {
	background-image: url(../images/lupaBuscar.png);
	 height: 30px;
    width: 30px;
    left: -1px;
    top: 6px;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none repeat scroll 0 0 #0079B1;
    border: medium none !important;
    height: 21px !important;
    top: 9.8px;
    width: 25px !important;
}

.ui-dialog-titlebar {
    background: none repeat scroll 0 0 #0079B1;
    border: 1px solid #C3C3C3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    font-weight: bolder;
    line-height: 15px;
    padding: 5px;
    text-align: left;
}
.ui-icon-closethick {
    background-image: url("../images/close.png") !important;
    background-position: center center !important;
    height: 21px;
    width: 21px;
}

#buscarSOAP{
   
    height: 29px;
  
    margin-left: 3px;
    
    position: relative;
    top: -1px;
    width: 30px;
}
#msg{
font-size: 10pt;
}
#searchingOverlay {
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 10000;
     background-image:url(../images/disabled.png);
}
#resultados{
	width:100%;

	}
	

#searching {
     width:120px;
     top: 45%;
     left: 45%;
     position: absolute;

     padding:15px;
     text-align:center;
}
#info{
	text-align:center;
	font-weight:bold;
	font-size:10pt;
	 height: 20px;
}
#searchingMsg{
	bottom: 12px;
    font-size: 10pt;
    padding-left: 10px;
    position: relative;
}	


#muniCList table {
    margin-bottom: 15px;
    margin-top: 10px;
}
#muniCList th{
	background-color:#0079B1 !important;
	}
#muniCList td{	
	
    border-style: dotted !important;
    border-width: 1px !important;
}

#ui-accordion-verEjemplos-header-0, #ejemplos {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
     text-align: left;
}
#ui-accordion-verEjemplos-header-0{
font-weight: lighter;
    text-decoration: underline;
    padding-left: 15px;
    top:-5px;
}
#ui-accordion-verEjemplos-header-0 .ui-icon{
 background-image: url("/lib/jquery/jquery-ui-1.10.3.custom/css/smoothness/images/ui-icons_454545_256x240.png") !important;

 }
#ui-accordion-verEjemplos-header-0 .ui-icon-triangle-1-s{
	background-position: -64px -16px !important;
	}
	
#ui-accordion-verEjemplos-header-0 	.ui-icon-triangle-1-e {
    background-position: -32px -16px !important;
}
#resultados_tabla{
	height:300px;
 padding-top: 10px;
}
.pag_button{
	
	height:32px;
	}
	#pags{
	padding:5px;
	}
#resultados_pag{
	text-align: center;

}
.bordeGris { border: 1px solid #C0C0C0;}

.textoInv {
	color: #000000;
	font-size: 12px;
}
.itemBig {
	font-size: 10pt;
	text-decoration:none;
	background-color: #818181;
}

.blanco {
	color: #FFFFFF;
}

table.sinEspacio {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.ui-button .ui-icon.next-icon {
	background-image: url(../images/Next.png);
	  margin-left: 5px;
}

.ui-button .ui-icon.prev-icon {
	background-image: url(../images/Prev.png);
	  margin-left: 5px;
}
.ui-button .ui-icon.first-icon {
	background-image: url(../images/First.png);
	  margin-left: 5px;
}
.ui-button .ui-icon.last-icon {
	background-image: url(../images/Last.png);
	  margin-left: 5px;
}

.centered {
	text-align: center;
}

.centered a {
    margin-top:5px;;
}

.slick-header-column{
background: #0079B1;
color: #FFFFFF;
font-weight: bold;
}

.slick-header-column.ui-state-default{
border-color: #0A688E !important;
padding-left: 5px;

}
.odd {
	
	background-color: #FFFFFF !important;
}

.even {
	
	background-color: #F7FCFF !important;
}

.slick-cell{
 border-bottom-color: #A4C8D6 !important;
    border-left-color: #A4C8D6 !important;
    border-right-color: #A4C8D6 !important;
    border-top: 0 none;
	padding-left: 5px !important;
  }
html,body {
	margin-left: 0;
    margin-right: 0;
	color: black;
	font-family: Helvetica,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Lucida Sans Regular,Verdana,sans-serif !important;
	font-size: 8pt;
	text-decoration: none;
	line-height: 2em;
	
}
