#logoDGA {
    padding-left: 15px;
    padding-bottom: 12px;
    padding-top: 16px;
    padding-right: 5px;
}

#redesSociales {
    text-align: right;
    letter-spacing: 1px;
    padding-right: 16px;
    float: right;
}
#redesSociales ul {
    list-style: none;
}

#redesSociales li {
    float: right;
    padding-top: 2px;
    padding-left: 5px;
}

#banner {
    padding-top: 20px;
    padding-bottom: 16px;
}

.visible-ms {
    display: none !important;
}

.tamCero {
    width: 0px !important;
    border: none !important;
}

.clear {
    clear: both;
    font-size: 1px;
    padding: 0;
    margin: 0;
}

ul.secc_botonera {
    list-style: none;
    padding: 0 0 0 0px;
    margin: 0;
    float: left;
}

.body_botonera, .body_tabs {
    min-width: 460px;
    overflow: hidden;
}

#outputFormatDiv .botonHome {
    width: 154px;
    height: 115px;
}

.botonHome {
    width: 194px;
    height: 148px;
}
.body {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content, #contentSearch, #footer {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
    max-width: 980px;
    background: #fff;
}
