@import url(tabs.css);
@import url(tools.css);
@import url(map.css);
@import url(tab2map.css);

#resultMapDiv {
	position: relative;
}

.chosen-container {
	font-size: 11px !important;
}

.chosen-container-single .chosen-single {
	border-radius: 0 !important;
	height: 19px !important;
	line-height: 18px !important;
	bottom: 1px;
	background: none !important;
}

.chosen-container .chosen-results {
	margin-right: 0 !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-image: url("../images/tabGoUp.png") !important;
	background-position: 0 !important;
}

.chosen-container-single .chosen-single div b {
	background-color: #E6E6E4;
	background-image: url("../images/tabGoDown.png") !important;
	border-left: 1px solid #7F9DB9;
}

.toolbarImage {
	float: right;
	padding-right: 7px;
	table-layout: fixed;
	padding-top: 2px;
}

.dialogIcon {
	float: left;
	padding-right: 6px;
}

.ui-dialog-titlebar {
	font-weight: bolder;
	color: white;
	border: solid 1px #c3c3c3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
	background: #0079B1;
	line-height: 15px;
	text-align: left;
}

.ui-dialog .ui-dialog-titlebar-close {
	background: #0079B1;
	border: medium none !important;
	height: 21px !important;
	top: 9.8px;
	width: 25px !important;
}

.ui-icon-closethick {
	background-image: url(../images/close.png) !important;
	background-position: center center !important;
	height: 21px;
	width: 21px;
}

/* para dialogs JQuery que no se quiere que tengan el aspa de cerrado */
.no-close .ui-dialog-titlebar-close {
	display: none;
}

#help {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/help.png");
}

#visorLoadingOverlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 10000;
	background-image: url(../images/disabled.png) !important;

}

#breadCrumb {
	float: left;
	color: white;
	font-weight: bolder;
	padding-left: 10px;
}

#appLabel {
	padding-left: 5px;
}

.breadCrumbEnlace {
	color: #FFFFFF;
	padding: 5px;
	text-decoration: none;
}

#barra {
	background-color: #0079B1;
	cursor: pointer;
	vertical-align: top;
	height: 100%;
	width: 15px;
}

#bottom-right-arrow {
	bottom: 10px;
	margin-left: -15px;
	visibility: hidden;
	position: absolute;
}

#top-right-arrow {
	position: relative;
	top: -15px;
	visibility: hidden;
}

#bottom-left-arrow {
	bottom: 10px;
	margin-left: -15px;
	position: absolute;
}

#top-left-arrow {
	padding-top: 5px;
}

#loading {
	top: 80px;
	padding: 15px;
	font-size: 30px;
	font-family: Dosis, Arial, sans-serif;
	float: right;
}

.titulo {
	font-family: Dosis, Arial, sans-serif;
	font-size: 36px;
	color: gray;
	margin-left: auto;
	margin-right: auto;
}
.huecoTitulo {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 980px;
	width: 100%;
}

#toolbar {
	width: 100%;
	background: #0079b1;
	color: white;
	height: 24px;
	text-align: center;
}

#titleMap {
	position: relative;
	top: 3px;
	font-size: 12pt;
	font-weight: bolder;
}

#header {
	width: 100%;
	background: white;
	text-align: center;
}

#logo {
	padding-left: 16px;
	padding-top: 16px;
	float: left;
}

#logoSitar {
	float: right;
	padding-top: 12px;
}

#logoSitar img {
	height: 40px;
}

#main {
	width: 100%;
}

#foot_int {
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	height: 15px;
	font-size: 11px;
	color: #5f6061;
}

#foot_int ul {
	list-style: none;
	margin: 0;
}

#foot_int li {
	float: left;
	margin-left: 10px;
}

#foot_int li a {
	text-decoration: none;
	color: #5f6061;
}

#foot_int li a:hover {
	color: #0079B1;
}

.d_d {
	float: right;
}

.i_i {
	float: left;
}

.i_i a {
	color: #272424;
	text-decoration: none;
}

.i_i a:hover {
	color: #76a7d2;
}

.oculto {
	visibility: hidden;
	display: none;
}


/*.body_botonera ul.secc_botonera li {background: #e2e2e2; margin: 0; height: 112px; padding: 0 0 5px 5px; }*/
ul.secc_botonera li:hover {
	cursor: pointer;
}
ul.secc_botonera li {
	float: left;
	margin: 0;
	padding-right: 2px;
}
ul.secc_botonera li.last {
	margin-right: 0;
	padding-right: 0px;
}

ul.secc_botonera_map {
	list-style: none;
	padding: 0 0 0 0px;
	margin: 0;
	max-width: 980px;
	width: 100%;
	padding-top: 20px;
}
ul.secc_botonera_map li {
	float: left;
	margin: 0;
	padding-right: 2px;
}

.clear {
	clear: both;
}

#flechaBack {
	position: absolute;
	top: 50%;
	left: 10px;
	visibility: hidden;
	z-index: 10;
	cursor: pointer;
}

#flechaNext {
	position: absolute;
	top: 50%;
	right: 10px;
	visibility: hidden;
	z-index: 10;
	cursor: pointer;
}

#generatedMap {
}

#generatedLegend, #resultForm {
}

#descargarBtn, #descargarPDFBtn {
	position: fixed;
	top: 130px;
	right: 10px;
}

#colorsPalette img {
	display: none;
}

input {
	font-family: Dosis, Arial, sans-serif;
	font-size: 16px;
	color: #262324;
}

.ui-autocomplete {
	z-index: 1000;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 60px;
}

.coordText {
	width: 85px;
}

.nota {
	color: gray;
	font-style: italic;
	font-size: 12px;
}

#extentSwitch {
	float: right;
	padding-right: 10px;
}

#extentSwitch .switch-button-label, #mapCountSwitch .switch-button-label {
	font-size: 20px;
}

#defaultExtentBatch td {
	padding: 5px;
}

#defaultExtent td {
	padding: 5px;
}

#customExtent td {
	padding: 3px;
}

