
.olControlZoom {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    right: 10px;
    top: 8px !important;
    width: 30px;
    z-index: 1000;
}
.zoomInicio { background: url(/lib/IDEAragon/themes/default/images/fullExtentBlack.png) no-repeat 0px 0px;
height: 30px;
    width: 30px;
    cursor: pointer;}
.zoomInicio:hover { background: url(/lib/IDEAragon/themes/default/images/fullExtentBlackRO.png) no-repeat 0px 0px; }

.olImageLoadError {
   
    opacity: 0 !important;
}

.olControlPanZoom img {
    height: auto !important;
    width: auto !important;
}
.olControlPanZoom {
	top:24px !important;
	}
.panZoomBar_zoomworld{
	display:none;
}


.panZoomBar{
	 left: 21px !important;
	
	    margin-top: 32px !important;
	}
.panZoomBar_zoomin{
left: 19px !important;
    top: 68px !important;
}
.panZoomBar_zoomout{
 top: 95px !important;
 left: 19px !important;
}
.panZoomBar_innerImage{
	width:26px !important;
}
	
.panZoomBar_panup{
	left: 13px !important;
    top: 5px !important;
}

.panZoomBar_pandown{
	left: 13px !important;
    top: 37px !important;
}

.panZoomBar_panleft{
	left: 3px !important;
    top: 15px !important;
}

.panZoomBar_panright{
left: 35px !important;
    top: 15px !important;
}
#northLabel{
  z-index: 900;
}
#northDiv {
	position:absolute;
left: 22px;
    top: 8px !important;
    width: 30px;
    z-index: 1000;
}

.mapClass {
	width: 100%;
	height: 100%;
	position: relative;
	border: 0.2px solid gray;
}

#area{
	width: 200px;
margin-bottom: 10px;
margin-left:5px;
}