@media screen and (max-width: 980px) {
	.titulo {
		/*text-align: left;*/
	}
}

@media screen and (max-width: 900px) {
	.huecoTitulo {
		margin-left: 10px;
		padding-left: 70px;
		padding-right: 70px;
	}
}

@media screen and (max-width: 500px) {
	#banner {
		clear: both;
	}
}
