.modalInner { padding: 30px; }
.mapType { padding-bottom: 30px; }

ul.listaCapas { margin-left:auto; margin-right:auto; list-style-type: none;float:left;  text-indent: -16px;
    max-height: 500px;
    overflow: auto;}
.listaCapas li {    float: left;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    text-align: left;
    width: 230px;}
.listaCapas img{
display: list-item;
}
.buttonsRemodal { padding-top: 30px; }
