@CHARSET "ISO-8859-1";


#tabs {
	border: medium none;
	
	padding-top: 5px;
	
	min-width: 600px;
}

#tabsCol {
	height: 100%;
	padding-right: 5px;
}
.tabPanel{
	margin-top: 0.5px;
	height:100%;
}

#infoTab{
	overflow:auto;
	}
/*estilos de jquery sobrescritos*/
.ui-widget-header {
	background: #FFFFFF;
	border: none;
	color: #0079B1;
}

.ui-widget {
	font-family: Helvetica,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Lucida Sans Regular,Verdana,sans-serif !important;
	font-size: 9pt ;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav {
	padding-top: 0;

}

.ui-tabs .ui-tabs-panel {
	border: solid 2px #0079B1;
	padding: 0;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	padding: 0;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited
	{
	color: #0079B1;
	text-decoration: none;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	background: #0079B1;
	color: white;
	border: none;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active
	{
	font-weight: bolder;
}
