@CHARSET "ISO-8859-1";

.accordion h3 {
    font-weight: bolder;
	font-size: 9pt;
	color: white !important;
	border: solid 1px #c3c3c3 !important;
	text-align:left;
	padding: 5px;
	background: #0079B1 !important;
	margin-top:0 !important;
}
.innerWindow {
	border: solid 2px #0079B1;
	
	border-radius: 5px;
	background: white;
	font-size: 8pt !important;
}

.innerWindowHeader {
	font-weight: bolder;
	font-size: 9pt;
	color: white;
	border: solid 1px #c3c3c3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
	background: #0079B1;
}

.innerWindowContent {

    
    overflow: auto;
    position: relative;
    width: 100%;
}

.radioButton {
	width: 100%;
	padding: 0px;
}

.selectFullLine {
	width: 100%;
}

.valueForFilterInput {
	margin-top: 5px;
	width: 250px;
}

.varFilterOption {
	margin-bottom: 5px;
	margin-left: 15px;
	margin-top: 5px;
}

.filterPanel {
	margin-top: 5px;
}

.centered {
	text-align: center;
}

.legendInfo {
	margin-left: 2px;
	margin-right: 2px;
	position: relative;
}

.legendStyle {
	width: 10px;
	border: solid;
}

.mapSelectCombo {
	position: absolute;
	right: 0;
	top: -2px;
	width: 225px;
}

.scrollablePanel {
	overflow: scroll;
}

.textToc{
	font-size: 12px;
}
/* propiedades de jQuery sobreescritas */
.ui-button .ui-icon.apply-icon {
	background-image: url(../images/apply.png);
}

.ui-button .ui-icon.cancel-icon {
	background-image: url(../images/cancel.png);
}

.ui-button.ui-state-active  .ui-icon.search-icon {
	background-image: url(../ext/BuscadorCajaUnica/images/lupaBuscarRO.png) !important;
}
.ui-button.ui-state-hover  .ui-icon.search-icon {
	background-image: url(../ext/BuscadorCajaUnica/images/lupaBuscarHO.png);
}

.ui-button .ui-icon.search-icon {
	background-image: url(../ext/BuscadorCajaUnica/images/lupaBuscar.png);
left:5px;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: 0.4em 1em 0.4em 2.5em;
}

.ui-icon-triangle-1-e {
   background-image: url(../images/right-arrow-mini.png) !important;
   background-position: 0 0;
}

.ui-icon-triangle-1-s {
   background-image: url(../images/down-arrow-mini.png) !important;
   background-position:0 0;
}
.pag_button .ui-button-text {
    padding: 0.4em 1em 0.4em 1.5em;
}

.slick-header-column {
    background: none repeat scroll 0 0 #0079B1 !important;
    color: #FFFFFF!important;
    font-weight: bold !important;
    padding-left: 5px !important;
}

.updateMap{
	cursor:pointer;
	}
.pag_button {
    height: 25px !important;
}
.pag_button .ui-icon {
    margin-left: 0px !important;
}

    
    #texto {
    border-color: #7F9DB9;
    font-size: 1em;
    height: 22px;
    margin-top: 0;
    width: 355px !important;
    padding-top: 4px;
}

    #resultados_tabla_cargada{
    max-height: 350px;
    text-align:left;
    }
#overview_window{
	height:170px;
}

#no_legend{
	padding:15px;
	}
	
#legend_panel img {
  
    display: block;
    margin: auto;
}
	#legend_panel{
	text-align:center;
	}
	
#legend_label{
	   padding-left: 15px;
}
#legend_layers{
  height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 335px;
}
#overview_control{
	text-align:center;
	height: 145px;
	}
	
	#overview_map{
	position:relative;
	left:130px;
	width: 200px;
	}
#tools {
	min-width: 432px;
	width: 432px;
	max-width: 432px;
}

#search{
	min-height: 90px;
	
}

#search_control {
	left: 3%;
	position: relative;
	width: 95%;
	
	top: 10px;
}
#verEjemplos{
	margin-bottom: 10px;
}
#ui-accordion-verEjemplos-header-0, #ejemplos {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
     text-align: left;
}
#ui-accordion-verEjemplos-header-0{
font-weight: lighter;
    text-decoration: underline;
    padding-left: 15px;
    top:-5px;
}
#ui-accordion-verEjemplos-header-0 .ui-icon{
 background-image: url("../ext/jquery/jquery-ui-1.10.3.custom/css/smoothness/images/ui-icons_454545_256x240.png") !important;
 left:-5px !important;
 }
#ui-accordion-verEjemplos-header-0 .ui-icon-triangle-1-s{
	background-position: -64px -16px !important;
	}
	
#ui-accordion-verEjemplos-header-0 	.ui-icon-triangle-1-e {
    background-position: -32px -16px !important;
}
#legend_control {

	left: 0;
	position: relative;
	width: 100%;
	margin:0;
	 overflow: auto;
	 padding:0;
	 border:none;
}

#toc_control {
padding-bottom:5px;
	left: 0;
	position: relative;
	width: 100%;
	margin:0;
	 overflow: auto;
	 padding:0;
	 border:none;
}

#toc_control table{
	padding:5px;
}
#filters {
	height: 450px;
}

#filters_control {
	padding-top: 0;
}

#unitsFilter {
	height: 120px;
}

#comparator {
	margin-top: 5px;
	width: 142px;
}

#classFilterPanel {
	height: 80px;
		border-width: 1px;
	border-style: solid;
	border-color: #808080;
	margin-left: 14px;
	margin-right: 4px;
	margin-top: 5px;
}

#unitsFilterPanel {
	height: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	
	margin-top: 5px;
}



#categories {
	position: absolute;
	right: 4px;
	top: -2px;
	width: 220px;
}

#legend {
	width: 100%;
	padding-left: 15px;
}

#toolsContainer {

    overflow: auto;

}
.legend_panel_with_scroll {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	height: 90px;
	overflow: scroll;
}

#muniCList table {
    margin-bottom: 15px;
    margin-top: 10px;
}
#muniCList th{
	background-color:#0079B1 !important;
	}
#muniCList td{	
	
    border-style: dotted !important;
    border-width: 1px !important;
}
#legendImage {
	height: 90px;
}

#allUnitsButton {
	left: 117px;
	position: relative;
}

#noneUnitsButton {
	left: 117px;
}

#allClassesButton {
	margin-left: 40px;
}

/*#noneClassesButton {
	float: right;
	
}*/

#applyValueFilterButton {
	margin-top: 5px;
}

#searchButton {

	height:28px !important;
}

#valuesFilter {
	text-align: center;
}

.customCheckBox {
    
    /* Hide the input, but have it still be clickable */
    opacity: 0;
    
    float: left;
    width: 18px;
}


.customCheckBox + label {
    margin: 0;
    clear: none;
    
    /* Left padding makes room for image */
    padding: 5px 0 4px 24px;

    /* Make look clickable because they are */
    cursor: pointer;
    
    background: url(../images/checkbox.png) left center no-repeat; 
}

/*
    Change from unchecked to checked graphic
*/
.customCheckBox:checked + label {
    background-image: url(../images/checkbox_checked.png);
}

#ejemplos ul  ul {
	padding-left: 20px;
}
#manualIntervals {

    list-style: none;

}